montagem/about.html
<!DOCTYPE html>
<html lang="pt-br" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
    <title>Mavip</title>
    <link rel="stylesheet" href="dist/styles/main.css">
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
  </head>
  <body class="about">
    <!--[if (lt IE 9) & (!IEMobile)]> <p class="browsehappy">Você está usando um <strong>navegador antigo</strong>. Por favor <a href="http://browsehappy.com/">atualize o seu navegador</a> para uma boa experiência.</p> <![endif]-->
    <header class="Header Header--about">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!-- Static navbar-->
            <nav class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img src="dist/images/logo-nav.png" alt="mavip" class="navbar-logo"></a><a class="visible-xs-inline-block NotificationCart NotificationCart--outside"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="javascript:">Sobre o mavip</a></li>
                  <li><a href="javascript:">Serviços</a></li>
                  <li><a href="javascript:">Crie sua conta</a></li>
                  <li><a href="javascript:">Login</a></li>
                  <li class="hidden-xs"><a href="javascript:" class="NotificationCart"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a></li>
                </ul>
              </div>
              <!-- /.nav-collapse-->
            </nav>
            <!-- /.container-fluid-->
          </div>
        </div>
        <div class="row visible-xs-block">
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
            <h3 class="Header-title">A forma fácil de registrar uma marca.</h3>
          </div>
        </div>
        <div class="row visible-xs-block">
          <ul class="Header-lead list-unstyled text-center">
            <li class="Header-leadItem col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-lg-2 col-lg-offset-3"><span class="Header-leadText Icon Icon--magnifierBefore">Pesquise</span></li>
            <li class="Header-leadItem col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-lg-2"><span class="Header-leadText Icon Icon--flagBefore">Registre</span></li>
            <li class="Header-leadItem col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-lg-2"><span class="Header-leadText Icon Icon--boardBefore">Acompanhe</span></li>
          </ul>
        </div>
        <div class="row visible-xs-block">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
            <h3 class="Header-title">Comece uma busca 100% gratuita.</h3>
          </div>
        </div>
        <form class="row CallToAction visible-xs-block">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-0">
            <input type="text" placeholder="Digite aqui seu email" class="CallToAction-input">
          </div>
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-5 col-lg-offset-0">
            <input type="text" placeholder="Digite aqui sua marca - Ex: Nike, Google..." class="CallToAction-input">
          </div>
          <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-lg-3 col-lg-offset-0">
            <button type="submit" class="Button Button--full CallToAction-button Icon Icon--magnifierAfter">Pesquisar marca</button>
          </div>
        </form>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
          <section class="About-box">
            <div class="About-boxContent">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                  <h1 class="Page-title Page-title--small">Sobre o Mavip</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                  <h2 class="Page-subtitle">A forma mais fácil de registrar uma marca</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-1 col-lg-7 col-lg-offset-1">
                  <p class="Page-text Page-text--small">Buscando melhoria no processo de registro de marcas, decidimos aplicar todo nosso conhecimento para ajudar as pessoas comuns a terem sucesso com a exclusividade sobre a marca de sua empresa, com informações transparentes capazes de afastar a “cultura do medo” imposta pelo mercado de empresas que atuam oferecendo serviços de registrar marca.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1">
                  <ul class="Steps Steps--about row list-unstyled">
                    <li class="Steps-item col-xs-12 col-sm-4 text-center"><i class="Steps-icon Icon Icon--magnifierBefore"></i>
                      <h4 class="Steps-title">Pesquise</h4>
                      <p class="Steps-text">Faça sua busca 100% gratuita.</p>
                    </li>
                    <li class="Steps-item col-xs-12 col-sm-4 text-center"><i class="Steps-icon Icon Icon--flagBefore"></i>
                      <h4 class="Steps-title">Registre</h4>
                      <p class="Steps-text">Realize o pagamento e registre sua marca com toda facilidade.</p>
                    </li>
                    <li class="Steps-item col-xs-12 col-sm-4 text-center"><i class="Steps-icon Icon Icon--boardBefore"></i>
                      <h4 class="Steps-title">Acompanhe</h4>
                      <p class="Steps-text">Acompanhe com toda transparência o registro de sua marca.</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3"><a href="javascript:" class="Button Button--full text-center">Veja o que podemos fazer pela sua marca</a></div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <footer class="Footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center"><img src="dist/images/logo-footer.png" alt="mavip" class="Footer-logo"></div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <ul class="Footer-links list-unstyled list-inline">
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Termo de adesão</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Criar sua conta</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Empresa</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Serviços</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="dist/scripts/vendors.min.js"></script>
    <script src="dist/scripts/scripts.js"></script>
  </body>
</html>

montagem/src/views/about.jade
extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'about'

block header
  header.Header.Header--about
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade
      .row.visible-xs-block
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title A forma fácil de registrar uma marca.
      .row.visible-xs-block
        ul.Header-lead.list-unstyled.text-center
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-3.col-lg-2.col-lg-offset-3
            span.Header-leadText.Icon.Icon--magnifierBefore Pesquise
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--flagBefore Registre
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--boardBefore Acompanhe
      .row.visible-xs-block
        .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title Comece uma busca 100% gratuita.
      form.row.CallToAction.visible-xs-block
        div.col-xs-12.col-sm-8.col-sm-offset-2.col-lg-4.col-lg-offset-0
          input.CallToAction-input(type="text", placeholder="Digite aqui seu email")
        div.col-xs-12.col-sm-8.col-sm-offset-2.col-lg-5.col-lg-offset-0
          input.CallToAction-input(type="text", placeholder="Digite aqui sua marca - Ex: Nike, Google...")
        div.col-xs-12.col-sm-4.col-sm-offset-4.col-lg-3.col-lg-offset-0
          button.Button.Button--full.CallToAction-button.Icon.Icon--magnifierAfter(type="submit") Pesquisar marca

block content

  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        section.About-box
          .About-boxContent
            .row
              .col-xs-12.col-sm-6.col-sm-offset-1
                h1.Page-title.Page-title--small Sobre o Mavip
            .row
              .col-xs-12.col-sm-5.col-sm-offset-1
                h2.Page-subtitle A forma mais fácil de registrar uma marca
            .row
              .col-xs-12.col-sm-6.col-sm-offset-1.col-lg-7.col-lg-offset-1
                p.Page-text.Page-text--small Buscando melhoria no processo de registro de marcas, decidimos aplicar todo nosso conhecimento para ajudar as pessoas comuns a terem sucesso com a exclusividade sobre a marca de sua empresa, com informações transparentes capazes de afastar a “cultura do medo” imposta pelo mercado de empresas que atuam oferecendo serviços de registrar marca.
            .row
              .col-xs-12.col-sm-12.col-lg-10.col-lg-offset-1
                ul.Steps.Steps--about.row.list-unstyled
                  li.Steps-item.col-xs-12.col-sm-4.text-center
                    i.Steps-icon.Icon.Icon--magnifierBefore
                    h4.Steps-title Pesquise
                    p.Steps-text Faça sua busca 100% gratuita.
                  li.Steps-item.col-xs-12.col-sm-4.text-center
                    i.Steps-icon.Icon.Icon--flagBefore
                    h4.Steps-title Registre
                    p.Steps-text Realize o pagamento e registre sua marca com toda facilidade.
                  li.Steps-item.col-xs-12.col-sm-4.text-center
                    i.Steps-icon.Icon.Icon--boardBefore
                    h4.Steps-title Acompanhe
                    p.Steps-text Acompanhe com toda transparência o registro de sua marca.
            .row
              .col-xs-12.col-md-6.col-md-offset-3
                a.Button.Button--full.text-center(href="javascript:") Veja o que podemos fazer pela sua marca
