montagem/src/views/contact.jade
extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'contact'

block header
  header.Header.Header--contact
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title A forma fácil de registrar uma marca.
      .row
        ul.Header-lead.list-unstyled.text-center
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-3.col-lg-2.col-lg-offset-3
            span.Header-leadText.Icon.Icon--magnifierBefore Pesquise
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--flagBefore Registre
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--boardBefore Acompanhe

block content
  main.Contact
    .container
      .row
        .col-xs-12.text-center
          h1.Page-title Contato
      form.Contact-form.Form
        .Contact-step.Contact-step--1
          .row
            .col-xs-12.text-center
              h2.Contact-title Olá, qual é o seu nome?
          .row
            .col-xs-12.col-md-8.col-md-offset-2
              input(type="text" name="name").Form-input
            .col-xs-12.col-md-1
              i.Icon.Icon--arrowRightBefore.Contact-next(data-step="2")
          .row
            .col-xs-12.col-md-4.col-md-offset-4
              .Progress
                p.Progress-label <strong>1</strong> de 4
                .Progress-bar.Progress-bar--1
        .Contact-step.Contact-step--2.hidden
          .row
            .col-xs-12.text-center
              h2.Contact-title <strong class="Contact-username">#Nomedousuario</strong>, agora queremos saber o seu e-mail.
          .row
            .col-xs-12.col-md-8.col-md-offset-2
              input(type="text" name="name").Form-input
            .col-xs-12.col-md-1
              i.Icon.Icon--arrowRightBefore.Contact-next(data-step="3")
          .row
            .col-xs-12.col-md-4.col-md-offset-4
              .Progress
                p.Progress-label <strong>2</strong> de 4
                .Progress-bar.Progress-bar--2
            .col-xs-12.col-md-1
              a.Contact-back(href="javascript:", data-step="1") Voltar
        .Contact-step.Contact-step--3.hidden
          .row
            .col-xs-12.col-md-4.col-md-offset-4.text-center
              h2.Contact-title <strong class="Contact-username">#Nomedousuario</strong>, selecione o assunto do qual você deseja tratar.
          .row
            .col-xs-12.col-md-8.col-md-offset-2
              input(type="text" name="name").Form-input
            .col-xs-12.col-md-1
              i.Icon.Icon--arrowRightBefore.Contact-next(data-step="4")
          .row
            .col-xs-12.col-md-4.col-md-offset-4
              .Progress
                p.Progress-label <strong>3</strong> de 4
                .Progress-bar.Progress-bar--3
            .col-xs-12.col-md-1
              a.Contact-back(href="javascript:", data-step="2") Voltar
        .Contact-step.Contact-step--4.hidden
          .row
            .col-xs-12.col-md-4.col-md-offset-4.text-center
              h2.Contact-title <strong  class="Contact-username">#Nomedousuario</strong>, escreva sua mensagem.
          .row
            .col-xs-12.col-md-8.col-md-offset-2
              textarea(type="text" name="name").Form-textarea
          .row
            .col-xs-12.col-md-4.col-md-offset-4
              button.Button.Button--full.u-mt35.u-mb35 Enviar mensagem
          .row
            .col-xs-12.col-md-4.col-md-offset-4
              .Progress
                p.Progress-label <strong>4</strong> de 4
                .Progress-bar.Progress-bar--4
            .col-xs-12.col-md-1
              a.Contact-back(href="javascript:", data-step="3") Voltar

montagem/contact.html
<!DOCTYPE html>
<html lang="pt-br" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
    <title>Mavip</title>
    <link rel="stylesheet" href="dist/styles/main.css">
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
  </head>
  <body class="contact">
    <!--[if (lt IE 9) & (!IEMobile)]> <p class="browsehappy">Você está usando um <strong>navegador antigo</strong>. Por favor <a href="http://browsehappy.com/">atualize o seu navegador</a> para uma boa experiência.</p> <![endif]-->
    <header class="Header Header--contact">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!-- Static navbar-->
            <nav class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img src="dist/images/logo-nav.png" alt="mavip" class="navbar-logo"></a><a class="visible-xs-inline-block NotificationCart NotificationCart--outside"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="javascript:">Sobre o mavip</a></li>
                  <li><a href="javascript:">Serviços</a></li>
                  <li><a href="javascript:">Crie sua conta</a></li>
                  <li><a href="javascript:">Login</a></li>
                  <li class="hidden-xs"><a href="javascript:" class="NotificationCart"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a></li>
                </ul>
              </div>
              <!-- /.nav-collapse-->
            </nav>
            <!-- /.container-fluid-->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
            <h3 class="Header-title">A forma fácil de registrar uma marca.</h3>
          </div>
        </div>
        <div class="row">
          <ul class="Header-lead list-unstyled text-center">
            <li class="Header-leadItem col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-lg-2 col-lg-offset-3"><span class="Header-leadText Icon Icon--magnifierBefore">Pesquise</span></li>
            <li class="Header-leadItem col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-lg-2"><span class="Header-leadText Icon Icon--flagBefore">Registre</span></li>
            <li class="Header-leadItem col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-lg-2"><span class="Header-leadText Icon Icon--boardBefore">Acompanhe</span></li>
          </ul>
        </div>
      </div>
    </header>
    <main class="Contact">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h1 class="Page-title">Contato</h1>
          </div>
        </div>
        <form class="Contact-form Form">
          <div class="Contact-step Contact-step--1">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h2 class="Contact-title">Olá, qual é o seu nome?</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-8 col-md-offset-2">
                <input type="text" name="name" class="Form-input">
              </div>
              <div class="col-xs-12 col-md-1"><i data-step="2" class="Icon Icon--arrowRightBefore Contact-next"></i></div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="Progress">
                  <p class="Progress-label"><strong>1</strong> de 4</p>
                  <div class="Progress-bar Progress-bar--1"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="Contact-step Contact-step--2 hidden">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h2 class="Contact-title"><strong class="Contact-username">#Nomedousuario</strong>, agora queremos saber o seu e-mail.</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-8 col-md-offset-2">
                <input type="text" name="name" class="Form-input">
              </div>
              <div class="col-xs-12 col-md-1"><i data-step="3" class="Icon Icon--arrowRightBefore Contact-next"></i></div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="Progress">
                  <p class="Progress-label"><strong>2</strong> de 4</p>
                  <div class="Progress-bar Progress-bar--2"></div>
                </div>
              </div>
              <div class="col-xs-12 col-md-1"><a href="javascript:" data-step="1" class="Contact-back">Voltar</a></div>
            </div>
          </div>
          <div class="Contact-step Contact-step--3 hidden">
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
                <h2 class="Contact-title"><strong class="Contact-username">#Nomedousuario</strong>, selecione o assunto do qual você deseja tratar.</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-8 col-md-offset-2">
                <input type="text" name="name" class="Form-input">
              </div>
              <div class="col-xs-12 col-md-1"><i data-step="4" class="Icon Icon--arrowRightBefore Contact-next"></i></div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="Progress">
                  <p class="Progress-label"><strong>3</strong> de 4</p>
                  <div class="Progress-bar Progress-bar--3"></div>
                </div>
              </div>
              <div class="col-xs-12 col-md-1"><a href="javascript:" data-step="2" class="Contact-back">Voltar</a></div>
            </div>
          </div>
          <div class="Contact-step Contact-step--4 hidden">
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
                <h2 class="Contact-title"><strong  class="Contact-username">#Nomedousuario</strong>, escreva sua mensagem.</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-8 col-md-offset-2">
                <textarea type="text" name="name" class="Form-textarea"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-offset-4">
                <button class="Button Button--full u-mt35 u-mb35">Enviar mensagem</button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="Progress">
                  <p class="Progress-label"><strong>4</strong> de 4</p>
                  <div class="Progress-bar Progress-bar--4"></div>
                </div>
              </div>
              <div class="col-xs-12 col-md-1"><a href="javascript:" data-step="3" class="Contact-back">Voltar</a></div>
            </div>
          </div>
        </form>
      </div>
    </main>
    <footer class="Footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center"><img src="dist/images/logo-footer.png" alt="mavip" class="Footer-logo"></div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <ul class="Footer-links list-unstyled list-inline">
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Termo de adesão</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Criar sua conta</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Empresa</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Serviços</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="dist/scripts/vendors.min.js"></script>
    <script src="dist/scripts/scripts.js"></script>
  </body>
</html>
