montagem/src/views/edit_account.jade
extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'edit_account'

block header
  header.Header.Header--editAccount
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title A forma fácil de registrar uma marca.
      .row
        ul.Header-lead.list-unstyled.text-center
          li.Header-leadItem.col-xs-9.col-xs-offset-3.col-sm-2.col-sm-offset-3.col-lg-2.col-lg-offset-3
            span.Header-leadText.Icon.Icon--magnifierBefore Pesquise
          li.Header-leadItem.col-xs-9.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--flagBefore Registre
          li.Header-leadItem.col-xs-9.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--boardBefore Acompanhe

block content
  form.Register(action="index.html")
    #step2.container
      .row
        .col-xs-12
          section.Register-box.u-mb45
            .Register-boxContent
              .row
                .col-xs-12.text-center
                  h1.Page-title.Page-title--small.u-mb45 Editar conta
              .row
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Natureza Jurídica
                    span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                  select.Form-select
                    option(value="") Escolha a Natureza Jurídica
                    option(value="1") Valor 1
                    option(value="2") Valor 2
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label CNPJ
                    span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                  input.Form-input(type="text")
              .row
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Razão Social (Nome Empresarial)
                    span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label País
                  select.Form-select
                    option(value="") Brasil
                    option(value="1") Valor 1
                    option(value="2") Valor 2
              .row
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Estado
                  select.Form-select
                    option(value="") Selecione seu Estado
                    option(value="1") Valor 1
                    option(value="2") Valor 2
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Cidade
                  select.Form-select
                    option(value="") Selecione sua Cidade
                    option(value="1") Valor 1
                    option(value="2") Valor 2
              .row
                .Form-container.col-xs-12.col-sm-7
                  label.Form-label Endereço
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-5
                  label.Form-label CEP
                  input.Form-input(type="text")
              .row
                .Form-container.col-xs-12.col-sm-4
                  label.Form-label Telefone
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-4
                  label.Form-label Celular
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-4
                  label.Form-label Fax
                  input.Form-input(type="text")
              .row
                .Form-container.col-xs-12
                  label.Form-label Nome completo
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Email
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Login
                    span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Senha
                    span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Confirmar Senha
                    span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Pergunta secreta
                    span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                  input.Form-input(type="text")
                .Form-container.col-xs-12.col-sm-6
                  label.Form-label Resposta secreta
                    span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                  input.Form-input(type="text")
      .row
        .col-xs-12.col-md-4.col-md-offset-4
          button.Button.Button--full.u-mb45 Salvar alterações

montagem/edit_account.html
<!DOCTYPE html>
<html lang="pt-br" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
    <title>Mavip</title>
    <link rel="stylesheet" href="dist/styles/main.css">
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
  </head>
  <body class="edit_account">
    <!--[if (lt IE 9) & (!IEMobile)]> <p class="browsehappy">Você está usando um <strong>navegador antigo</strong>. Por favor <a href="http://browsehappy.com/">atualize o seu navegador</a> para uma boa experiência.</p> <![endif]-->
    <header class="Header Header--editAccount">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!-- Static navbar-->
            <nav class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img src="dist/images/logo-nav.png" alt="mavip" class="navbar-logo"></a><a class="visible-xs-inline-block NotificationCart NotificationCart--outside"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="javascript:">Sobre o mavip</a></li>
                  <li><a href="javascript:">Serviços</a></li>
                  <li><a href="javascript:">Crie sua conta</a></li>
                  <li><a href="javascript:">Login</a></li>
                  <li class="hidden-xs"><a href="javascript:" class="NotificationCart"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a></li>
                </ul>
              </div>
              <!-- /.nav-collapse-->
            </nav>
            <!-- /.container-fluid-->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
            <h3 class="Header-title">A forma fácil de registrar uma marca.</h3>
          </div>
        </div>
        <div class="row">
          <ul class="Header-lead list-unstyled text-center">
            <li class="Header-leadItem col-xs-9 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-lg-2 col-lg-offset-3"><span class="Header-leadText Icon Icon--magnifierBefore">Pesquise</span></li>
            <li class="Header-leadItem col-xs-9 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-lg-2"><span class="Header-leadText Icon Icon--flagBefore">Registre</span></li>
            <li class="Header-leadItem col-xs-9 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-lg-2"><span class="Header-leadText Icon Icon--boardBefore">Acompanhe</span></li>
          </ul>
        </div>
      </div>
    </header>
    <form action="index.html" class="Register">
      <div id="step2" class="container">
        <div class="row">
          <div class="col-xs-12">
            <section class="Register-box u-mb45">
              <div class="Register-boxContent">
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <h1 class="Page-title Page-title--small u-mb45">Editar conta</h1>
                  </div>
                </div>
                <div class="row">
                  <div class="Form-container col-xs-12 col-sm-6">
                    <label class="Form-label">Natureza Jurídica<span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></label>
                    <select class="Form-select">
                      <option value="">Escolha a Natureza Jurídica</option>
                      <option value="1">Valor 1</option>
                      <option value="2">Valor 2</option>
                    </select>
                  </div>
                  <div class="Form-container col-xs-12 col-sm-6">
                    <label class="Form-label">CNPJ<span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></label>
                    <input type="text" class="Form-input">
                  </div>
                </div>
                <div class="row">
                  <div class="Form-container col-xs-12 col-sm-6">
                    <label class="Form-label">Razão Social (Nome Empresarial)<span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></label>
                    <input type="text" class="Form-input">
                  </div>
                  <div class="Form-container col-xs-12 col-sm-6">
                    <label class="Form-label">País</label>
                    <select class="Form-select">
                      <option value="">Brasil</option>
                      <option value="1">Valor 1</option>
                      <option value="2">Valor 2</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="Form-container col-xs-12 col-sm-6">
                    <label class="Form-label">Estado</label>
                    <select class="Form-select">
                      <option value="">Selecione seu Estado</option>
                      <option value="1">Valor 1</option>
                      <option value="2">Valor 2</option>
                    </select>
                  </div>
                  <div class="Form-container col-xs-12 col-sm-6">
                    <label class="Form-label">Cidade</label>
                    <select class="Form-select">
                      <option value="">Selecione sua Cidade</option>
                      <option value="1">Valor 1</option>
                      <option value="2">Valor 2</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="Form-container col-xs-12 col-sm-7">
                    <label class="Form-label">Endereço</label>
                    <input type="text" class="Form-input">
                  </div>
                  <div class="Form-container col-xs-12 col-sm-5">
                    <label class="Form-label">CEP</label>
                    <input type="text" class="Form-input">
                  </div>
                </div>
                <div class="row">
                  <div class="Form-container col-xs-12 col-sm-4">
                    <label class="Form-label">Telefone</label>
                    <input type="text" class="Form-input">
                  </div>
                  <div class="Form-container col-xs-12 col-sm-4">
                    <label class="Form-label">Celular</label>
                    <input type="text" class="Form-input">
                  </div>
                  <div class="Form-container col-xs-12 col-sm-4">
                    <label class="Form-label">Fax</label>
                    <input type="text" class="Form-input">
                  </div>
                </div>
                <div class="row">
                  <div class="Form-container col-xs-12">
                    <label class="Form-label">Nome completo</label>
                    <input type="text" class="Form-input">
                  </div>
                  <div class="Form-container col-xs-12 col-sm-6">
                    <label class="Form-label">Email</label>
                    <input type="text" class="Form-input">
                  </div>
                  <div class="Form-container col-xs-12 col-sm-6">
                    <label class="Form-label">Login<span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></label>
                    <input type="text" class="Form-input">
                  </div>
                  <div class="Form-container col-xs-12 col-sm-6">
                    <label class="Form-label">Senha<span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></label>
                    <input type="text" class="Form-input">
                  </div>
                  <div class="Form-container col-xs-12 col-sm-6">
                    <label class="Form-label">Confirmar Senha<span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></label>
                    <input type="text" class="Form-input">
                  </div>
                  <div class="Form-container col-xs-12 col-sm-6">
                    <label class="Form-label">Pergunta secreta<span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></label>
                    <input type="text" class="Form-input">
                  </div>
                  <div class="Form-container col-xs-12 col-sm-6">
                    <label class="Form-label">Resposta secreta<span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></label>
                    <input type="text" class="Form-input">
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4 col-md-offset-4">
            <button class="Button Button--full u-mb45">Salvar alterações</button>
          </div>
        </div>
      </div>
    </form>
    <footer class="Footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center"><img src="dist/images/logo-footer.png" alt="mavip" class="Footer-logo"></div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <ul class="Footer-links list-unstyled list-inline">
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Termo de adesão</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Criar sua conta</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Empresa</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Serviços</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="dist/scripts/vendors.min.js"></script>
    <script src="dist/scripts/scripts.js"></script>
  </body>
</html>
