montagem/index.html
<!DOCTYPE html>
<html lang="pt-br" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
    <title>Mavip</title>
    <link rel="stylesheet" href="dist/styles/main.css">
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
  </head>
  <body class="home">
    <!--[if (lt IE 9) & (!IEMobile)]> <p class="browsehappy">Você está usando um <strong>navegador antigo</strong>. Por favor <a href="http://browsehappy.com/">atualize o seu navegador</a> para uma boa experiência.</p> <![endif]-->
    <header class="Header Header--home">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!-- Static navbar-->
            <nav class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img src="dist/images/logo-nav.png" alt="mavip" class="navbar-logo"></a><a class="visible-xs-inline-block NotificationCart NotificationCart--outside"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="javascript:">Sobre o mavip</a></li>
                  <li><a href="javascript:">Serviços</a></li>
                  <li><a href="javascript:">Crie sua conta</a></li>
                  <li><a href="javascript:">Login</a></li>
                  <li class="hidden-xs"><a href="javascript:" class="NotificationCart"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a></li>
                </ul>
              </div>
              <!-- /.nav-collapse-->
            </nav>
            <!-- /.container-fluid-->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
            <h3 class="Header-title">A forma fácil de registrar uma marca.</h3>
          </div>
        </div>
        <div class="row">
          <ul class="Header-lead list-unstyled text-center">
            <li class="Header-leadItem col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-lg-2 col-lg-offset-3"><span class="Header-leadText Icon Icon--magnifierBefore">Pesquise</span></li>
            <li class="Header-leadItem col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-lg-2"><span class="Header-leadText Icon Icon--flagBefore">Registre</span></li>
            <li class="Header-leadItem col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-lg-2"><span class="Header-leadText Icon Icon--boardBefore">Acompanhe</span></li>
          </ul>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
            <h3 class="Header-title">Comece uma busca 100% gratuita.</h3>
          </div>
        </div>
        <form class="row CallToAction">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-0">
            <input type="text" placeholder="Digite aqui seu email" class="CallToAction-input">
          </div>
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-5 col-lg-offset-0">
            <input type="text" placeholder="Digite aqui sua marca - Ex: Nike, Google..." class="CallToAction-input">
          </div>
          <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-lg-3 col-lg-offset-0">
            <button type="submit" class="Button Button--full CallToAction-button Icon Icon--magnifierAfter">Pesquisar marca</button>
          </div>
        </form>
      </div>
    </header>
    <section class="Section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2">
            <ul class="Steps row list-unstyled">
              <li class="Steps-item col-xs-12 col-sm-4 text-center"><i class="Steps-icon Icon Icon--magnifierBefore"></i>
                <h4 class="Steps-title">Pesquise</h4>
                <p class="Steps-text">Faça sua busca 100% gratuita.</p>
              </li>
              <li class="Steps-item col-xs-12 col-sm-4 text-center"><i class="Steps-icon Icon Icon--flagBefore"></i>
                <h4 class="Steps-title">Registre</h4>
                <p class="Steps-text">Realize o pagamento e registre sua marca com toda facilidade.</p>
              </li>
              <li class="Steps-item col-xs-12 col-sm-4 text-center"><i class="Steps-icon Icon Icon--boardBefore"></i>
                <h4 class="Steps-title">Acompanhe</h4>
                <p class="Steps-text">Acompanhe com toda transparência o registro de sua marca.</p>
              </li>
            </ul>
            <ul class="Achievements row list-unstyled">
              <div class="col-xs-12 col-sm-4">
                <li class="Achievements-item text-center">
                  <p class="Achievements-number">+ <span class="Achievements-numberSpan" data-number="1000">1.000</span></p>
                  <p class="Achievements-text">Cadastros de marcas já realizados</p>
                </li>
              </div>
              <div class="col-xs-12 col-sm-4">
                <li class="Achievements-item">
                  <p class="Achievements-number"><span class="Achievements-numberSpan" data-number="99">99</span>%</p>
                  <p class="Achievements-text">Satisfação garantida por quem já utilizou o serviço</p>
                </li>
              </div>
              <div class="col-xs-12 col-sm-4">
                <li class="Achievements-item">
                  <p class="Achievements-number"><span class="Achievements-numberSpan" data-number="100">100</span>%</p>
                  <p class="Achievements-text">De transparência nas informações de busca de marcas</p>
                </li>
              </div>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h1 class="Page-title Page-title--testimonials text-center">Depoimentos</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="Section Section--testemonials">
      <div class="container">
        <div class="row">
          <div class="Testimonial-arrowContainer Testimonial-arrowContainer--left col-xs-2 col-md-1"><a href="javascript:" class="Testimonial-arrow Testimonial-arrow--prev Icon Icon--arrowLeftBefore"></a></div>
          <div class="col-xs-12 col-md-8 col-md-offset-1">
            <div id="carousel" class="Testimonial owl-carousel owl-theme">
              <div class="Testimonial-item">
                <div class="col-xs-12 col-md-3">
                  <figure class="Testimonial-figure"><img src="dist/images/testimonial.png" alt="Elon musk" class="Testmonial-image img-responsive center-block"></figure>
                </div>
                <div class="col-xs-12 col-md-9">
                  <div class="Testimonial-content">
                    <p class="Testimonial-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                    <p class="Testimonial-name">Elon Musk</p>
                    <p class="Testimonial-job">CEO Tesla</p>
                  </div>
                </div>
              </div>
              <div class="Testimonial-item">
                <div class="col-xs-12 col-md-3">
                  <figure class="Testimonial-figure"><img src="dist/images/testimonial.png" alt="Elon musk" class="Testmonial-image img-responsive center-block"></figure>
                </div>
                <div class="col-xs-12 col-md-9">
                  <div class="Testimonial-content">
                    <p class="Testimonial-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                    <p class="Testimonial-name">Elon Musk</p>
                    <p class="Testimonial-job">CEO Tesla</p>
                  </div>
                </div>
              </div>
              <div class="Testimonial-item">
                <div class="col-xs-12 col-md-3">
                  <figure class="Testimonial-figure"><img src="dist/images/testimonial.png" alt="Elon musk" class="Testmonial-image img-responsive center-block"></figure>
                </div>
                <div class="col-xs-12 col-md-9">
                  <div class="Testimonial-content">
                    <p class="Testimonial-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                    <p class="Testimonial-name">Elon Musk</p>
                    <p class="Testimonial-job">CEO Tesla</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Testimonial-arrowContainer Testimonial-arrowContainer--right col-xs-2 col-md-1 col-md-offset-1"><a href="javascript:" class="Testimonial-arrow Testimonial-arrow--next Icon Icon--arrowRightBefore"></a></div>
        </div>
      </div>
    </section>
    <section class="Section Section--homeSponsors">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2">
            <ul class="row Sponsors list-unstyled">
              <li class="Sponsors-item col-xs-12 col-sm-3 text-center"><img src="dist/images/logo-inpi.png" alt="Instituto Nacional da Propriedade Industrial"></li>
              <li class="Sponsors-item col-xs-12 col-sm-3 text-center u-noPadding"><img src="dist/images/logo-sebrae.png" alt="SEBRAE"></li>
              <li class="Sponsors-item col-xs-12 col-sm-3 text-center"><img src="dist/images/logo-iel.png" alt="IEL"></li>
              <li class="Sponsors-item col-xs-12 col-sm-3 text-center"><img src="dist/images/logo-fiep.png" alt="FIEP"></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer class="Footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center"><img src="dist/images/logo-footer.png" alt="mavip" class="Footer-logo"></div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <ul class="Footer-links list-unstyled list-inline">
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Termo de adesão</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Criar sua conta</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Empresa</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Serviços</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="dist/scripts/vendors.min.js"></script>
    <script src="dist/scripts/scripts.js"></script>
  </body>
</html>

montagem/src/views/index.jade
extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'home'

block header
  header.Header.Header--home
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title A forma fácil de registrar uma marca.
      .row
        ul.Header-lead.list-unstyled.text-center
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-3.col-lg-2.col-lg-offset-3
            span.Header-leadText.Icon.Icon--magnifierBefore Pesquise
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--flagBefore Registre
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--boardBefore Acompanhe
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title Comece uma busca 100% gratuita.
      form.row.CallToAction
        div.col-xs-12.col-sm-8.col-sm-offset-2.col-lg-4.col-lg-offset-0
          input.CallToAction-input(type="text", placeholder="Digite aqui seu email")
        div.col-xs-12.col-sm-8.col-sm-offset-2.col-lg-5.col-lg-offset-0
          input.CallToAction-input(type="text", placeholder="Digite aqui sua marca - Ex: Nike, Google...")
        div.col-xs-12.col-sm-4.col-sm-offset-4.col-lg-3.col-lg-offset-0
          button.Button.Button--full.CallToAction-button.Icon.Icon--magnifierAfter(type="submit") Pesquisar marca


block content
  section.Section
    .container
      .row
        .col-xs-12.col-sm-12.col-lg-8.col-lg-offset-2
          ul.Steps.row.list-unstyled
            li.Steps-item.col-xs-12.col-sm-4.text-center
              i.Steps-icon.Icon.Icon--magnifierBefore
              h4.Steps-title Pesquise
              p.Steps-text Faça sua busca 100% gratuita.
            li.Steps-item.col-xs-12.col-sm-4.text-center
              i.Steps-icon.Icon.Icon--flagBefore
              h4.Steps-title Registre
              p.Steps-text Realize o pagamento e registre sua marca com toda facilidade.
            li.Steps-item.col-xs-12.col-sm-4.text-center
              i.Steps-icon.Icon.Icon--boardBefore
              h4.Steps-title Acompanhe
              p.Steps-text Acompanhe com toda transparência o registro de sua marca.
          ul.Achievements.row.list-unstyled
            .col-xs-12.col-sm-4
              li.Achievements-item.text-center
                p.Achievements-number + <span class="Achievements-numberSpan" data-number="1000">1.000</span>
                p.Achievements-text Cadastros de marcas já realizados
            .col-xs-12.col-sm-4
              li.Achievements-item
                p.Achievements-number <span class="Achievements-numberSpan" data-number="99">99</span>%
                p.Achievements-text Satisfação garantida por quem já utilizou o serviço
            .col-xs-12.col-sm-4
              li.Achievements-item
                p.Achievements-number <span class="Achievements-numberSpan" data-number="100">100</span>%
                p.Achievements-text De transparência nas informações de busca de marcas
      .row
        .col-xs-12
          h1.Page-title.Page-title--testimonials.text-center Depoimentos

  section.Section.Section--testemonials
    .container
      .row
        .Testimonial-arrowContainer.Testimonial-arrowContainer--left.col-xs-2.col-md-1
          a.Testimonial-arrow.Testimonial-arrow--prev.Icon.Icon--arrowLeftBefore(href="javascript:")
        .col-xs-12.col-md-8.col-md-offset-1
          #carousel.Testimonial.owl-carousel.owl-theme
            .Testimonial-item
              .col-xs-12.col-md-3
                figure.Testimonial-figure
                  img.Testmonial-image.img-responsive.center-block(src="/images/testimonial.png", alt="Elon musk")
              .col-xs-12.col-md-9
                .Testimonial-content
                  p.Testimonial-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  p.Testimonial-name Elon Musk
                  p.Testimonial-job CEO Tesla
            .Testimonial-item
              .col-xs-12.col-md-3
                figure.Testimonial-figure
                  img.Testmonial-image.img-responsive.center-block(src="/images/testimonial.png", alt="Elon musk")
              .col-xs-12.col-md-9
                .Testimonial-content
                  p.Testimonial-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  p.Testimonial-name Elon Musk
                  p.Testimonial-job CEO Tesla
            .Testimonial-item
              .col-xs-12.col-md-3
                figure.Testimonial-figure
                  img.Testmonial-image.img-responsive.center-block(src="/images/testimonial.png", alt="Elon musk")
              .col-xs-12.col-md-9
                .Testimonial-content
                  p.Testimonial-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  p.Testimonial-name Elon Musk
                  p.Testimonial-job CEO Tesla
        .Testimonial-arrowContainer.Testimonial-arrowContainer--right.col-xs-2.col-md-1.col-md-offset-1
          a.Testimonial-arrow.Testimonial-arrow--next.Icon.Icon--arrowRightBefore(href="javascript:")
  section.Section.Section--homeSponsors
    .container
      .row
        .col-xs-12.col-sm-12.col-lg-8.col-lg-offset-2
          ul.row.Sponsors.list-unstyled
            li.Sponsors-item.col-xs-12.col-sm-3.text-center
              img(src="/images/logo-inpi.png", alt="Instituto Nacional da Propriedade Industrial")
            li.Sponsors-item.col-xs-12.col-sm-3.text-center.u-noPadding
              img(src="/images/logo-sebrae.png", alt="SEBRAE")
            li.Sponsors-item.col-xs-12.col-sm-3.text-center
              img(src="/images/logo-iel.png", alt="IEL")
            li.Sponsors-item.col-xs-12.col-sm-3.text-center
              img(src="/images/logo-fiep.png", alt="FIEP")
