montagem/index2.html
<!DOCTYPE html>
<html lang="pt-br" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
    <title>Mavip</title>
    <link rel="stylesheet" href="dist/styles/main.css">
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
  </head>
  <body class="home2">
    <!--[if (lt IE 9) & (!IEMobile)]> <p class="browsehappy">Você está usando um <strong>navegador antigo</strong>. Por favor <a href="http://browsehappy.com/">atualize o seu navegador</a> para uma boa experiência.</p> <![endif]-->
    <header class="Header Header--home2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!-- Static navbar-->
            <nav class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img src="dist/images/logo-nav.png" alt="mavip" class="navbar-logo"></a><a class="visible-xs-inline-block NotificationCart NotificationCart--outside"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="javascript:">Sobre o mavip</a></li>
                  <li><a href="javascript:">Serviços</a></li>
                  <li><a href="javascript:">Crie sua conta</a></li>
                  <li><a href="javascript:">Login</a></li>
                  <li class="hidden-xs"><a href="javascript:" class="NotificationCart"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a></li>
                </ul>
              </div>
              <!-- /.nav-collapse-->
            </nav>
            <!-- /.container-fluid-->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
            <h3 class="Header-title">A forma fácil de registrar uma marca.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4 class="Header-subtitle visible-xs-block text-center">Comece agora sua pesquisa</h4>
          </div>
        </div>
        <div class="row">
          <ul class="Header-lead list-unstyled text-center hidden-xs">
            <li class="Header-leadItem col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-lg-2 col-lg-offset-3"><span class="Header-leadText Icon Icon--magnifierBefore">Pesquise</span></li>
            <li class="Header-leadItem col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-lg-2"><span class="Header-leadText Icon Icon--flagBefore">Registre</span></li>
            <li class="Header-leadItem col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-lg-2"><span class="Header-leadText Icon Icon--boardBefore">Acompanhe</span></li>
          </ul>
        </div>
      </div>
    </header>
    <form class="HomeForm">
      <section class="Section Section--userData">
        <div class="container">
          <div class="row">
            <div class="SubSection SubSection--userData col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-3"><!-- Inserir os valores do get nesses dois inputs -->
              <h1 class="Page-title u-noMarginBottom">Seu e-mail</h1>
              <p class="Page-text">email@email.com.br</p>
              <input type="email" name="email" class="CallToAction-input ChangeData-input hidden">
            </div>
            <div class="SubSection SubSection--userData col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-0 col-lg-4">
              <h1 class="Page-title u-noMarginBottom">Nome da sua marca</h1>
              <p class="Page-text">#Nome da marca</p>
              <input type="text" name="brandName" class="CallToAction-input ChangeData-input hidden">
            </div>
            <div class="SubSection SubSection--userData col-xs-10 col-xs-offset-1 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0"><a href="javascript:" class="ChangeData"><span class="ChangeData-icon">&times;</span><span class="ChangeData-text">Alterar Dados</span></a></div>
          </div>
        </div>
      </section>
      <section class="Section Section--intro">
        <div class="container">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <h1 class="Page-title Page-title--home2"><span>Como é sua marca?</span><span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></h1>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 InputWrapper">
              <div class="InputContainer">
                <input type="radio" name="brandType" value="nome" id="nome" class="Input-radio">
                <label for="nome" class="Input-label">
                  <div class="Input-check"></div><span class="Input-labelText">Somente o nome (<i>ex: mavip</i>)</span>
                </label>
              </div>
              <div class="InputContainer">
                <input type="radio" name="brandType" value="logo" id="logo" class="Input-radio">
                <label for="logo" class="Input-label">
                  <div class="Input-check"></div><span class="Input-labelText">Nome e logotipo (<i>ex:</i> <img src="dist/images/small-logo.png" alt="mavip">)</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <h1 class="Page-title Page-title--home2">Qual tipo de marca?</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 InputWrapper u-mb75">
              <div class="InputContainer">
                <input type="radio" name="brandCategory" value="produto" id="produto" class="Input-radio">
                <label for="produto" class="Input-label">
                  <div class="Input-check"></div><span class="Input-labelText">Produto</span>
                </label>
              </div>
              <div class="InputContainer">
                <input type="radio" name="brandCategory" value="servico" id="servico" class="Input-radio">
                <label for="servico" class="Input-label">
                  <div class="Input-check"></div><span class="Input-labelText">Serviço/Comércio</span>
                </label>
              </div>
              <div class="InputContainer">
                <input type="radio" name="brandCategory" value="todos" id="todos" class="Input-radio">
                <label for="todos" class="Input-label">
                  <div class="Input-check"></div><span class="Input-labelText">Produto/Serviço/Comércio</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <h1 class="Page-title Page-title--home2 u-noMargin"><span>Selecione a categoria - <b>Produto</b></span><span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></h1>
            </div>
          </div>
        </div>
      </section>
      <section class="Section Section--category">
        <div class="container">
          <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"><a href="javascript:" data-reference="0" class="Category-arrow Category-arrow--prev Icon Icon--arrowLeftBefore"></a></div>
            <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-0">
              <div id="carousel1" class="Category">
                <div class="Category-item">
                  <input type="radio" name="type" value="bebidas1" id="bebidas1" class="Category-radio">
                  <label for="bebidas1" title="Teste!" class="Category-label Tooltip Tooltip--category">Bebidas</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type" value="pao1" id="pao1" class="Category-radio">
                  <label for="pao1" title="Teste!" class="Category-label Tooltip Tooltip--category">Pão e Massas</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type" value="quimica1" id="quimica1" class="Category-radio">
                  <label for="quimica1" title="Teste!" class="Category-label Tooltip Tooltip--category">Substância Química</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type" value="comuns1" id="comuns1" class="Category-radio">
                  <label for="comuns1" title="Teste!" class="Category-label Tooltip Tooltip--category">Materiais comuns e suas ligas</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type" value="cirurgicos1" id="cirurgicos1" class="Category-radio">
                  <label for="cirurgicos1" title="Teste!" class="Category-label Tooltip Tooltip--category">Aparelhos cirúrgicos</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type" value="bebidas2" id="bebidas2" class="Category-radio">
                  <label for="bebidas2" title="Teste!" class="Category-label Tooltip Tooltip--category">Bebidas</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type" value="pao2" id="pao2" class="Category-radio">
                  <label for="pao2" title="Teste!" class="Category-label Tooltip Tooltip--category">Pão e Massas</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type" value="quimica2" id="quimica2" class="Category-radio">
                  <label for="quimica2" title="Teste!" class="Category-label Tooltip Tooltip--category">Substância Química</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type" value="comuns2" id="comuns2" class="Category-radio">
                  <label for="comuns2" title="Teste!" class="Category-label Tooltip Tooltip--category">Materiais comuns e suas ligas</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type" value="cirurgicos2" id="cirurgicos2" class="Category-radio">
                  <label for="cirurgicos2" title="Teste!" class="Category-label Tooltip Tooltip--category">Aparelhos cirúrgicos</label>
                </div>
              </div>
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"><a href="javascript:" data-reference="0" class="Category-arrow Category-arrow--next Icon Icon--arrowRightBefore"></a></div>
          </div>
        </div>
      </section>
      <section class="Section Section--categoryTitle">
        <div class="container">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <h1 class="Page-title Page-title--home2 u-noMargin"><span>Selecione a categoria - <b>Serviço</b></span><span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></h1>
            </div>
          </div>
        </div>
      </section>
      <section class="Section Section--category">
        <div class="container">
          <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"><a href="javascript:" data-reference="1" class="Category-arrow Category-arrow--prev Icon Icon--arrowLeftBefore"></a></div>
            <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-0">
              <div id="carousel2" class="Category">
                <div class="Category-item">
                  <input type="radio" name="type2" value="bebidas3" id="bebidas3" class="Category-radio">
                  <label for="bebidas3" title="Teste!" class="Category-label Tooltip Tooltip--category">Bebidas</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type2" value="pao3" id="pao3" class="Category-radio">
                  <label for="pao3" title="Teste!" class="Category-label Tooltip Tooltip--category">Pão e Massas</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type2" value="quimica3" id="quimica3" class="Category-radio">
                  <label for="quimica3" title="Teste!" class="Category-label Tooltip Tooltip--category">Substância Química</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type2" value="comuns3" id="comuns3" class="Category-radio">
                  <label for="comuns3" title="Teste!" class="Category-label Tooltip Tooltip--category">Materiais comuns e suas ligas</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type2" value="cirurgicos3" id="cirurgicos3" class="Category-radio">
                  <label for="cirurgicos3" title="Teste!" class="Category-label Tooltip Tooltip--category">Aparelhos cirúrgicos</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type2" value="bebidas4" id="bebidas4" class="Category-radio">
                  <label for="bebidas4" title="Teste!" class="Category-label Tooltip Tooltip--category">Bebidas</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type2" value="pao4" id="pao4" class="Category-radio">
                  <label for="pao4" title="Teste!" class="Category-label Tooltip Tooltip--category">Pão e Massas</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type2" value="quimica4" id="quimica4" class="Category-radio">
                  <label for="quimica4" title="Teste!" class="Category-label Tooltip Tooltip--category">Substância Química</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type2" value="comuns4" id="comuns4" class="Category-radio">
                  <label for="comuns4" title="Teste!" class="Category-label Tooltip Tooltip--category">Materiais comuns e suas ligas</label>
                </div>
                <div class="Category-item">
                  <input type="radio" name="type2" value="cirurgicos4" id="cirurgicos4" class="Category-radio">
                  <label for="cirurgicos4" title="Teste!" class="Category-label Tooltip Tooltip--category">Aparelhos cirúrgicos</label>
                </div>
              </div>
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"><a href="javascript:" data-reference="1" class="Category-arrow Category-arrow--next Icon Icon--arrowRightBefore"></a></div>
          </div>
        </div>
      </section>
      <section class="Section Section--submit">
        <div class="container">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
              <button type="submit" class="Button Button--full Button--home2 CallToAction-button Icon Icon--magnifierAfter">Pesquisar marca</button>
            </div>
          </div>
        </div>
      </section>
    </form>
    <footer class="Footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center"><img src="dist/images/logo-footer.png" alt="mavip" class="Footer-logo"></div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <ul class="Footer-links list-unstyled list-inline">
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Termo de adesão</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Criar sua conta</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Empresa</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Serviços</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="dist/scripts/vendors.min.js"></script>
    <script src="dist/scripts/scripts.js"></script>
  </body>
</html>

montagem/src/views/index2.jade
extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'home2'

block header
  header.Header.Header--home2
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title A forma fácil de registrar uma marca.
      .row
        .col-xs-12
          h4.Header-subtitle.visible-xs-block.text-center Comece agora sua pesquisa
      .row
        ul.Header-lead.list-unstyled.text-center.hidden-xs
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-3.col-lg-2.col-lg-offset-3
            span.Header-leadText.Icon.Icon--magnifierBefore Pesquise
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--flagBefore Registre
          li.Header-leadItem.col-xs-6.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--boardBefore Acompanhe

block content
  form.HomeForm
    section.Section.Section--userData
      .container
        .row
          .SubSection.SubSection--userData.col-xs-10.col-xs-offset-1.col-md-3.col-md-offset-2.col-lg-3.col-lg-offset-3
            <!-- Inserir os valores do get nesses dois inputs -->
            h1.Page-title.u-noMarginBottom Seu e-mail
            p.Page-text email@email.com.br
            input.CallToAction-input.ChangeData-input.hidden(type="email", name="email")
          .SubSection.SubSection--userData.col-xs-10.col-xs-offset-1.col-md-5.col-md-offset-0.col-lg-4
            h1.Page-title.u-noMarginBottom Nome da sua marca
            p.Page-text #Nome da marca
            input.CallToAction-input.ChangeData-input.hidden(type="text", name="brandName")
          .SubSection.SubSection--userData.col-xs-10.col-xs-offset-1.col-md-2.col-md-offset-0.col-lg-2.col-lg-offset-0
            a.ChangeData(href="javascript:")
              span.ChangeData-icon &times;
              span.ChangeData-text Alterar Dados
    section.Section.Section--intro
      .container
        .row
          .col-xs-10.col-xs-offset-1
            h1.Page-title.Page-title--home2
              span Como é sua marca?
              span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
        .row
          .col-xs-10.col-xs-offset-1.InputWrapper
            .InputContainer
              input.Input-radio(type="radio" name="brandType" value="nome" id="nome")
              label.Input-label(for="nome")
                .Input-check
                span.Input-labelText Somente o nome (<i>ex: mavip</i>)
            .InputContainer
              input.Input-radio(type="radio" name="brandType" value="logo" id="logo")
              label.Input-label(for="logo")
                .Input-check
                span.Input-labelText Nome e logotipo (<i>ex:</i> <img src="/images/small-logo.png" alt="mavip">)
        .row
          .col-xs-10.col-xs-offset-1
            h1.Page-title.Page-title--home2 Qual tipo de marca?
        .row
          .col-xs-10.col-xs-offset-1.InputWrapper.u-mb75
            .InputContainer
              input.Input-radio(type="radio" name="brandCategory" value="produto" id="produto")
              label.Input-label(for="produto")
                .Input-check
                span.Input-labelText Produto
            .InputContainer
              input.Input-radio(type="radio" name="brandCategory" value="servico" id="servico")
              label.Input-label(for="servico")
                .Input-check
                span.Input-labelText Serviço/Comércio
            .InputContainer
              input.Input-radio(type="radio" name="brandCategory" value="todos" id="todos")
              label.Input-label(for="todos")
                .Input-check
                span.Input-labelText Produto/Serviço/Comércio
         .row
          .col-xs-10.col-xs-offset-1
            h1.Page-title.Page-title--home2.u-noMargin
              span Selecione a categoria - <b>Produto</b>
              span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
    section.Section.Section--category
      .container
        .row
          .col-md-1.hidden-sm.hidden-xs
            a.Category-arrow.Category-arrow--prev.Icon.Icon--arrowLeftBefore(href="javascript:", data-reference="0")
          .col-xs-10.col-xs-offset-1.col-md-10.col-md-offset-0
            #carousel1.Category
              .Category-item
                input.Category-radio(type="radio" name="type" value="bebidas1" id="bebidas1")
                label.Category-label.Tooltip.Tooltip--category(for="bebidas1", title="Teste!") Bebidas
              .Category-item
                input.Category-radio(type="radio" name="type" value="pao1" id="pao1")
                label.Category-label.Tooltip.Tooltip--category(for="pao1", title="Teste!") Pão e Massas
              .Category-item
                input.Category-radio(type="radio" name="type" value="quimica1" id="quimica1")
                label.Category-label.Tooltip.Tooltip--category(for="quimica1", title="Teste!") Substância Química
              .Category-item
                input.Category-radio(type="radio" name="type" value="comuns1" id="comuns1")
                label.Category-label.Tooltip.Tooltip--category(for="comuns1", title="Teste!") Materiais comuns e suas ligas
              .Category-item
                input.Category-radio(type="radio" name="type" value="cirurgicos1" id="cirurgicos1")
                label.Category-label.Tooltip.Tooltip--category(for="cirurgicos1", title="Teste!") Aparelhos cirúrgicos
              .Category-item
                input.Category-radio(type="radio" name="type" value="bebidas2" id="bebidas2")
                label.Category-label.Tooltip.Tooltip--category(for="bebidas2", title="Teste!") Bebidas
              .Category-item
                input.Category-radio(type="radio" name="type" value="pao2" id="pao2")
                label.Category-label.Tooltip.Tooltip--category(for="pao2", title="Teste!") Pão e Massas
              .Category-item
                input.Category-radio(type="radio" name="type" value="quimica2" id="quimica2")
                label.Category-label.Tooltip.Tooltip--category(for="quimica2", title="Teste!") Substância Química
              .Category-item
                input.Category-radio(type="radio" name="type" value="comuns2" id="comuns2")
                label.Category-label.Tooltip.Tooltip--category(for="comuns2", title="Teste!") Materiais comuns e suas ligas
              .Category-item
                input.Category-radio(type="radio" name="type" value="cirurgicos2" id="cirurgicos2")
                label.Category-label.Tooltip.Tooltip--category(for="cirurgicos2", title="Teste!") Aparelhos cirúrgicos
          .col-md-1.hidden-sm.hidden-xs
            a.Category-arrow.Category-arrow--next.Icon.Icon--arrowRightBefore(href="javascript:", data-reference="0")
    section.Section.Section--categoryTitle
      .container
        .row
          .col-xs-10.col-xs-offset-1
            h1.Page-title.Page-title--home2.u-noMargin
              span Selecione a categoria - <b>Serviço</b>
              span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
    section.Section.Section--category
      .container
        .row
          .col-md-1.hidden-sm.hidden-xs
            a.Category-arrow.Category-arrow--prev.Icon.Icon--arrowLeftBefore(href="javascript:", data-reference="1")
          .col-xs-10.col-xs-offset-1.col-md-10.col-md-offset-0
            #carousel2.Category
              .Category-item
                input.Category-radio(type="radio" name="type2" value="bebidas3" id="bebidas3")
                label.Category-label.Tooltip.Tooltip--category(for="bebidas3", title="Teste!") Bebidas
              .Category-item
                input.Category-radio(type="radio" name="type2" value="pao3" id="pao3")
                label.Category-label.Tooltip.Tooltip--category(for="pao3", title="Teste!") Pão e Massas
              .Category-item
                input.Category-radio(type="radio" name="type2" value="quimica3" id="quimica3")
                label.Category-label.Tooltip.Tooltip--category(for="quimica3", title="Teste!") Substância Química
              .Category-item
                input.Category-radio(type="radio" name="type2" value="comuns3" id="comuns3")
                label.Category-label.Tooltip.Tooltip--category(for="comuns3", title="Teste!") Materiais comuns e suas ligas
              .Category-item
                input.Category-radio(type="radio" name="type2" value="cirurgicos3" id="cirurgicos3")
                label.Category-label.Tooltip.Tooltip--category(for="cirurgicos3", title="Teste!") Aparelhos cirúrgicos
              .Category-item
                input.Category-radio(type="radio" name="type2" value="bebidas4" id="bebidas4")
                label.Category-label.Tooltip.Tooltip--category(for="bebidas4", title="Teste!") Bebidas
              .Category-item
                input.Category-radio(type="radio" name="type2" value="pao4" id="pao4")
                label.Category-label.Tooltip.Tooltip--category(for="pao4", title="Teste!") Pão e Massas
              .Category-item
                input.Category-radio(type="radio" name="type2" value="quimica4" id="quimica4")
                label.Category-label.Tooltip.Tooltip--category(for="quimica4", title="Teste!") Substância Química
              .Category-item
                input.Category-radio(type="radio" name="type2" value="comuns4" id="comuns4")
                label.Category-label.Tooltip.Tooltip--category(for="comuns4", title="Teste!") Materiais comuns e suas ligas
              .Category-item
                input.Category-radio(type="radio" name="type2" value="cirurgicos4" id="cirurgicos4")
                label.Category-label.Tooltip.Tooltip--category(for="cirurgicos4", title="Teste!") Aparelhos cirúrgicos
          .col-md-1.hidden-sm.hidden-xs
            a.Category-arrow.Category-arrow--next.Icon.Icon--arrowRightBefore(href="javascript:", data-reference="1")
    section.Section.Section--submit
      .container
        .row
          .col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
            button.Button.Button--full.Button--home2.CallToAction-button.Icon.Icon--magnifierAfter(type="submit") Pesquisar marca
