montagem/src/views/login.jade
extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'login'

block header
  header.Header.Header--login
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
          h3.Header-title A forma fácil de registrar uma marca.
      .row
        ul.Header-lead.list-unstyled.text-center
          li.Header-leadItem.col-xs-9.col-xs-offset-3.col-sm-2.col-sm-offset-3.col-lg-2.col-lg-offset-3
            span.Header-leadText.Icon.Icon--magnifierBefore Pesquise
          li.Header-leadItem.col-xs-9.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--flagBefore Registre
          li.Header-leadItem.col-xs-9.col-xs-offset-3.col-sm-2.col-sm-offset-0.col-lg-2
            span.Header-leadText.Icon.Icon--boardBefore Acompanhe

block content

  .container
    .row
      .col-xs-12.col-lg-10.col-lg-offset-1
        section.Login-box
          .Register-boxContent
            .row
              .col-xs-12.col-md-5.col-md-push-6
                form.Login(action="index.html")
                  h1.Page-title.text-center Faça seu Login
                  .Form-container.u-mt35
                    input.Form-input(type="text", placeholder="Email")
                  .Form-container
                    input.Form-input(type="password", placeholder="Senha")
                  .Form-container
                    a.Login-forgotPassword(href="javascript") Esqueci minha senha
                  .Form-container.text-center
                    button.Button.Button--login Fazer login
              .col-xs-12.col-md-5.col-md-pull-5.text-center
                h1.Page-title.u-mb45 Crie sua conta
                p.Login-text Registre sua marca com toda facilidade.
                p.Login-text Acompanhe com toda transparência <br /> o registro de sua marca.
                p.Login-text Satisfação garantida <br /> por quem já utilizou o serviço.
                a(href="/register.html").Button.Button--login Quero criar minha conta

montagem/login.html
<!DOCTYPE html>
<html lang="pt-br" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
    <title>Mavip</title>
    <link rel="stylesheet" href="dist/styles/main.css">
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
  </head>
  <body class="login">
    <!--[if (lt IE 9) & (!IEMobile)]> <p class="browsehappy">Você está usando um <strong>navegador antigo</strong>. Por favor <a href="http://browsehappy.com/">atualize o seu navegador</a> para uma boa experiência.</p> <![endif]-->
    <header class="Header Header--login">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!-- Static navbar-->
            <nav class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img src="dist/images/logo-nav.png" alt="mavip" class="navbar-logo"></a><a class="visible-xs-inline-block NotificationCart NotificationCart--outside"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="javascript:">Sobre o mavip</a></li>
                  <li><a href="javascript:">Serviços</a></li>
                  <li><a href="javascript:">Crie sua conta</a></li>
                  <li><a href="javascript:">Login</a></li>
                  <li class="hidden-xs"><a href="javascript:" class="NotificationCart"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a></li>
                </ul>
              </div>
              <!-- /.nav-collapse-->
            </nav>
            <!-- /.container-fluid-->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
            <h3 class="Header-title">A forma fácil de registrar uma marca.</h3>
          </div>
        </div>
        <div class="row">
          <ul class="Header-lead list-unstyled text-center">
            <li class="Header-leadItem col-xs-9 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-lg-2 col-lg-offset-3"><span class="Header-leadText Icon Icon--magnifierBefore">Pesquise</span></li>
            <li class="Header-leadItem col-xs-9 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-lg-2"><span class="Header-leadText Icon Icon--flagBefore">Registre</span></li>
            <li class="Header-leadItem col-xs-9 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-lg-2"><span class="Header-leadText Icon Icon--boardBefore">Acompanhe</span></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <section class="Login-box">
            <div class="Register-boxContent">
              <div class="row">
                <div class="col-xs-12 col-md-5 col-md-push-6">
                  <form action="index.html" class="Login">
                    <h1 class="Page-title text-center">Faça seu Login</h1>
                    <div class="Form-container u-mt35">
                      <input type="text" placeholder="Email" class="Form-input">
                    </div>
                    <div class="Form-container">
                      <input type="password" placeholder="Senha" class="Form-input">
                    </div>
                    <div class="Form-container"><a href="javascript" class="Login-forgotPassword">Esqueci minha senha</a></div>
                    <div class="Form-container text-center">
                      <button class="Button Button--login">Fazer login</button>
                    </div>
                  </form>
                </div>
                <div class="col-xs-12 col-md-5 col-md-pull-5 text-center">
                  <h1 class="Page-title u-mb45">Crie sua conta</h1>
                  <p class="Login-text">Registre sua marca com toda facilidade.</p>
                  <p class="Login-text">Acompanhe com toda transparência <br /> o registro de sua marca.</p>
                  <p class="Login-text">Satisfação garantida <br /> por quem já utilizou o serviço.</p><a href="/register.html" class="Button Button--login">Quero criar minha conta</a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <footer class="Footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center"><img src="dist/images/logo-footer.png" alt="mavip" class="Footer-logo"></div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <ul class="Footer-links list-unstyled list-inline">
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Termo de adesão</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Criar sua conta</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Empresa</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Serviços</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="dist/scripts/vendors.min.js"></script>
    <script src="dist/scripts/scripts.js"></script>
  </body>
</html>
