montagem/src/views/order.jade
extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'order'

block header
  header.Header.Header--order.Header--inside
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade

block content
  .container
    .row
      .col-xs-12.col-lg-10.col-lg-offset-1
        .Content.Content--order
          header.Content-header.Content-header--order.col-xs-12
            ul.Breadcrumbs.list-inline
              li.Breadcrumbs-item
                a.Breadcrumbs-link(href="javascript:") Home
              li.Breadcrumbs-item
                a.Breadcrumbs-link.active(href="javascript:") Pedido
          .col-xs-12
            h1.Page-title Pedido
          .Order
            header.Order-header.col-xs-12
              h2.Order-title.pull-left Item
              h2.Order-title.pull-right Valor
            main.Order-content.col-xs-12
              .row
                h3.Order-subtitle.col-xs-8 Pedido de registro da marca Qualitare
              .row
                .col-xs-12
                  ul.Order-items.list-unstyled
                    li.Order-item
                      .col-xs-12
                        .Order-itemContent
                          p.Order-description.pull-left Serviço de registro
                          p.Order-price.pull-right R$ 1.000,00
                    li.Order-item
                      .col-xs-12
                        .Order-itemContent
                          p.Order-description.pull-left Taxa de Guia de Recolhimento da União (GRU)
                          p.Order-price.pull-right R$ 320,00
                  .Subtotal
                    span.Subtotal-text Subtotal:
                    span.Subtotal-value R$ 1.320,00
              .row
                .col-xs-12
                  p.Order-addServices Adicionar Serviços
              .row
                .col-xs-12
                  ul.Services.u-noMarginBottom.list-unstyled
                    li.Service.row
                      .col-xs-12.col-md-3.Service-nameContainer
                        p.Service-name Acompanhamento de marca
                      .col-xs-12.col-md-6.Service-descriptionContainer
                        h4.Service-descriptionTitle Contrate o serviço com <strong> 20% de Desconto </strong>
                        p.Service-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non lorem facilisis
                      .col-xs-12.col-md-3.Service-buttonContainer
                        button.Service-button(data-price="30075" data-description="Acompanhamento de marca") Adicionar Serviço
                    li.Service.row
                      .col-xs-12.col-md-3.Service-nameContainer
                        p.Service-name Renovação de marca
                      .col-xs-12.col-md-6.Service-descriptionContainer
                        h4.Service-descriptionTitle Contrate o serviço com <strong> 20% de Desconto </strong>
                        p.Service-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non lorem facilisis
                      .col-xs-12.col-md-3.Service-buttonContainer
                        button.Service-button(data-price="100095" data-description="Renovação de marca") Adicionar Serviço
            footer.Order-footer.col-xs-12
              .row
                .col-xs-12.col-md-4.col-md-offset-1
                  h3.Order-footerTitle Cupom de desconto:
                .col-xs-12.col-md-4
                  input.Input-text.Order-footerInput(type="text")
                .col-xs-12.col-md-3
                  button.DiscountButton Aplicar desconto
              .Total.row.text-right
                .col-xs-12
                  span.Total-text Total:
                  span.Total-value R$ 1.320,00
              .row
                .col-xs-12.col-sm-4.col-sm-offset-8
                  button.Order-submit Finalizar compra

  script(type="template" id="orderItemTemplate")
    li.Order-item
      .col-xs-12
        .Order-itemContent
          p.Order-description.pull-left {{description}}
          p.Order-price.pull-right {{price}}

montagem/segunda versão/order.html
<!DOCTYPE html>
<html lang="pt-br" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
    <title>Mavip</title>
    <link rel="stylesheet" href="styles/main.css">
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
  </head>
  <body class="order">
    <!--[if (lt IE 9) & (!IEMobile)]> <p class="browsehappy">Você está usando um <strong>navegador antigo</strong>. Por favor <a href="http://browsehappy.com/">atualize o seu navegador</a> para uma boa experiência.</p> <![endif]-->
    <header class="Header Header--order Header--inside">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!-- Static navbar-->
            <nav class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img src="images/logo-nav.png" alt="mavip" class="navbar-logo"></a><a class="visible-xs-inline-block NotificationCart NotificationCart--outside"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="javascript:">Sobre o mavip</a></li>
                  <li><a href="javascript:">Serviços</a></li>
                  <li><a href="javascript:">Crie sua conta</a></li>
                  <li><a href="javascript:">Login</a></li>
                  <li class="hidden-xs"><a href="javascript:" class="NotificationCart"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a></li>
                </ul>
              </div>
              <!-- /.nav-collapse-->
            </nav>
            <!-- /.container-fluid-->
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <div class="Content Content--order">
            <header class="Content-header Content-header--order col-xs-12">
              <ul class="Breadcrumbs list-inline">
                <li class="Breadcrumbs-item"><a href="javascript:" class="Breadcrumbs-link">Home</a></li>
                <li class="Breadcrumbs-item"><a href="javascript:" class="Breadcrumbs-link active">Pedido</a></li>
              </ul>
            </header>
            <div class="col-xs-12">
              <h1 class="Page-title">Pedido</h1>
            </div>
            <div class="Order">
              <header class="Order-header col-xs-12">
                <h2 class="Order-title pull-left">Item</h2>
                <h2 class="Order-title pull-right">Valor</h2>
              </header>
              <main class="Order-content col-xs-12">
                <div class="row">
                  <h3 class="Order-subtitle col-xs-8">Pedido de registro da marca Qualitare</h3>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <ul class="Order-items list-unstyled">
                      <li class="Order-item">
                        <div class="col-xs-12">
                          <div class="Order-itemContent">
                            <p class="Order-description pull-left">Serviço de registro</p>
                            <p class="Order-price pull-right">R$ 1.000,00</p>
                          </div>
                        </div>
                      </li>
                      <li class="Order-item">
                        <div class="col-xs-12">
                          <div class="Order-itemContent">
                            <p class="Order-description pull-left">Taxa de Guia de Recolhimento da União (GRU)</p>
                            <p class="Order-price pull-right">R$ 320,00</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="Subtotal"><span class="Subtotal-text">Subtotal:</span><span class="Subtotal-value">R$ 1.320,00</span></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p class="Order-addServices">Adicionar Serviços</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <ul class="Services u-noMarginBottom list-unstyled">
                      <li class="Service row">
                        <div class="col-xs-12 col-md-3 Service-nameContainer">
                          <p class="Service-name">Acompanhamento de marca</p>
                        </div>
                        <div class="col-xs-12 col-md-6 Service-descriptionContainer">
                          <h4 class="Service-descriptionTitle">Contrate o serviço com <strong> 20% de Desconto </strong></h4>
                          <p class="Service-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non lorem facilisis</p>
                        </div>
                        <div class="col-xs-12 col-md-3 Service-buttonContainer">
                          <button data-price="30075" data-description="Acompanhamento de marca" class="Service-button">Adicionar Serviço</button>
                        </div>
                      </li>
                      <li class="Service row">
                        <div class="col-xs-12 col-md-3 Service-nameContainer">
                          <p class="Service-name">Renovação de marca</p>
                        </div>
                        <div class="col-xs-12 col-md-6 Service-descriptionContainer">
                          <h4 class="Service-descriptionTitle">Contrate o serviço com <strong> 20% de Desconto </strong></h4>
                          <p class="Service-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non lorem facilisis</p>
                        </div>
                        <div class="col-xs-12 col-md-3 Service-buttonContainer">
                          <button data-price="100095" data-description="Renovação de marca" class="Service-button">Adicionar Serviço</button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </main>
              <footer class="Order-footer col-xs-12">
                <div class="row">
                  <div class="col-xs-12 col-md-4 col-md-offset-1">
                    <h3 class="Order-footerTitle">Cupom de desconto:</h3>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <input type="text" class="Input-text Order-footerInput">
                  </div>
                  <div class="col-xs-12 col-md-3">
                    <button class="DiscountButton">Aplicar desconto</button>
                  </div>
                </div>
                <div class="Total row text-right">
                  <div class="col-xs-12"><span class="Total-text">Total:</span><span class="Total-value">R$ 1.320,00</span></div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-4 col-sm-offset-8">
                    <button class="Order-submit">Finalizar compra</button>
                  </div>
                </div>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="template" id="orderItemTemplate">
      <li class="Order-item">
        <div class="col-xs-12">
          <div class="Order-itemContent">
            <p class="Order-description pull-left">{{description}}</p>
            <p class="Order-price pull-right">{{price}}</p>
          </div>
        </div>
      </li>
    </script>
    <footer class="Footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center"><img src="images/logo-footer.png" alt="mavip" class="Footer-logo"></div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 text-center">
            <ul class="Footer-links list-unstyled list-inline">
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Termo de adesão</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Criar sua conta</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Empresa</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Serviços</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="scripts/vendors.min.js"></script>
    <script src="scripts/scripts.js"></script>
  </body>
</html>
