montagem/result.html
<!DOCTYPE html>
<html lang="pt-br" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
    <title>Mavip</title>
    <link rel="stylesheet" href="dist/styles/main.css">
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
  </head>
  <body class="result">
    <!--[if (lt IE 9) & (!IEMobile)]> <p class="browsehappy">Você está usando um <strong>navegador antigo</strong>. Por favor <a href="http://browsehappy.com/">atualize o seu navegador</a> para uma boa experiência.</p> <![endif]-->
    <header class="Header Header--login">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!-- Static navbar-->
            <nav class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img src="dist/images/logo-nav.png" alt="mavip" class="navbar-logo"></a><a class="visible-xs-inline-block NotificationCart NotificationCart--outside"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="javascript:">Sobre o mavip</a></li>
                  <li><a href="javascript:">Serviços</a></li>
                  <li><a href="javascript:">Crie sua conta</a></li>
                  <li><a href="javascript:">Login</a></li>
                  <li class="hidden-xs"><a href="javascript:" class="NotificationCart"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a></li>
                </ul>
              </div>
              <!-- /.nav-collapse-->
            </nav>
            <!-- /.container-fluid-->
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <section class="Login-box">
            <div class="Register-boxContent">
              <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-4"><!-- data-animation vai de 0-4 -->
                  <div data-animation="2" class="Gauge"><img src="dist/images/gauge.png" alt="" class="img-responsive Gauge-bg"><img src="dist/images/gauge-pointer.png" alt="" class="Gauge-pointer">
                    <ul class="Gauge-labels list-unstyled">
                      <li class="Gauge-label Gauge-label--0"><span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span><span class="Gauge-text Gauge-text--0">Inviável</span></li>
                      <li class="Gauge-label Gauge-label--1"><span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span><span class="Gauge-text Gauge-text--1">Crítica</span></li>
                      <li class="Gauge-label Gauge-label--2"><span class="Gauge-text Gauge-text--2">Viável</span><span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></li>
                      <li class="Gauge-label Gauge-label--3"><span class="Gauge-text Gauge-text--3">Fator subjetivo</span><span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark Tooltip">?</span></li>
                    </ul>
                  </div>
                  <p class="Gauge-score text-center"><!-- data-number corresponde a chance de aprovação --><span data-number="75" class="Gauge-scoreNumber">75</span><span class="Gauge-scoreUnit">%</span></p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                  <h1 class="Page-title Page-title--small text-center">A marca <span class="u-orangeText">"#nome"</span> <br /> tem grandes chances de ser registrada!</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-4"><a href="javascript:" class="Button Button--full text-center u-mt35">Garanta já sua marca</a></div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <footer class="Footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center"><img src="dist/images/logo-footer.png" alt="mavip" class="Footer-logo"></div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <ul class="Footer-links list-unstyled list-inline">
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Termo de adesão</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Criar sua conta</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Empresa</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Serviços</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="dist/scripts/vendors.min.js"></script>
    <script src="dist/scripts/scripts.js"></script>
  </body>
</html>

montagem/src/views/result.jade
extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'result'

block header
  header.Header.Header--login
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade

block content

  .container
    .row
      .col-xs-12.col-lg-10.col-lg-offset-1
        section.Login-box
          .Register-boxContent
            .row
              .col-xs-12.col-md-4.col-md-offset-4
                <!-- data-animation vai de 0-4 -->
                .Gauge(data-animation="2")
                  img.img-responsive.Gauge-bg(src="/images/gauge.png", alt="")
                  img.Gauge-pointer(src="/images/gauge-pointer.png", alt="")
                  ul.Gauge-labels.list-unstyled
                    li.Gauge-label.Gauge-label--0
                      span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                      span.Gauge-text.Gauge-text--0 Inviável
                    li.Gauge-label.Gauge-label--1
                      span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                      span.Gauge-text.Gauge-text--1 Crítica
                    li.Gauge-label.Gauge-label--2
                      span.Gauge-text.Gauge-text--2 Viável
                      span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                    li.Gauge-label.Gauge-label--3
                      span.Gauge-text.Gauge-text--3 Fator subjetivo
                      span.QuestionMark.Tooltip(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                p.Gauge-score.text-center
                  <!-- data-number corresponde a chance de aprovação -->
                  span.Gauge-scoreNumber(data-number="75") 75
                  span.Gauge-scoreUnit %
            .row
              .col-xs-12.col-md-6.col-md-offset-3
                h1.Page-title.Page-title--small.text-center A marca <span class="u-orangeText">"#nome"</span> <br /> tem grandes chances de ser registrada!
            .row
              .col-xs-12.col-md-4.col-md-offset-4
                a.Button.Button--full.text-center.u-mt35(href="javascript:") Garanta já sua marca
