montagem/service_panel.html
<!DOCTYPE html>
<html lang="pt-br" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
    <title>Mavip</title>
    <link rel="stylesheet" href="dist/styles/main.css">
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
  </head>
  <body class="service_panel">
    <!--[if (lt IE 9) & (!IEMobile)]> <p class="browsehappy">Você está usando um <strong>navegador antigo</strong>. Por favor <a href="http://browsehappy.com/">atualize o seu navegador</a> para uma boa experiência.</p> <![endif]-->
    <header class="Header Header--servicePanel">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!-- Static navbar-->
            <nav class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img src="dist/images/logo-nav.png" alt="mavip" class="navbar-logo"></a><a class="visible-xs-inline-block NotificationCart NotificationCart--outside"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="javascript:">Sobre o mavip</a></li>
                  <li><a href="javascript:">Serviços</a></li>
                  <li><a href="javascript:">Crie sua conta</a></li>
                  <li><a href="javascript:">Login</a></li>
                  <li class="hidden-xs"><a href="javascript:" class="NotificationCart"><span class="NotificationCart-number">2</span><i class="NotificationCart-icon Icon Icon--cartBefore"></i></a></li>
                </ul>
              </div>
              <!-- /.nav-collapse-->
            </nav>
            <!-- /.container-fluid-->
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <div class="Content Content--order">
            <header class="Content-header Content-header--servicePanel col-xs-12">
              <ul class="Breadcrumbs list-inline">
                <li class="Breadcrumbs-item"><a href="javascript:" class="Breadcrumbs-link">Home</a></li>
                <li class="Breadcrumbs-item"><a href="javascript:" class="Breadcrumbs-link active">Minha conta</a></li>
              </ul>
              <div class="row">
                <div class="Content-headerContainer col-xs-12 col-md-6">
                  <h2 class="Content-headerTitle u-noMarginTop">Olá, #NomeDoUsuário</h2>
                </div>
                <div class="col-xs-12 col-md-6">
                  <ul class="Content-options list-inline">
                    <li class="Content-option"><a href="javascript:" class="Content-optionLink">Editar meus dados</a></li>
                    <li class="Content-option"><a href="javascript:" class="Content-optionLink">Sair</a></li>
                  </ul>
                </div>
              </div>
            </header>
            <div class="row">
              <div class="col-xs-12">
                <h1 class="Page-title col-xs-12">Serviços</h1>
              </div>
            </div>
            <main class="Content-main col-xs-12">
              <div class="ServiceItem">
                <header class="ServiceItem-header row">
                  <div class="col-xs-12 col-md-4 col-lg-3">
                    <h3 class="ServiceItem-headerTitle">Pedido de registro de marca</h3>
                  </div>
                  <div class="hidden-xs col-md-2">
                    <h3 class="ServiceItem-headerTitle text-center">Nº do pedido</h3>
                  </div>
                  <div class="hidden-xs col-md-2">
                    <h3 class="ServiceItem-headerTitle text-center">Data do pedido</h3>
                  </div>
                  <div class="hidden-xs col-md-2">
                    <h3 class="ServiceItem-headerTitle text-center">Status</h3>
                  </div>
                </header>
                <div class="ServiceItem-headerInfo row">
                  <div class="ServiceItem-headerInfoContainer col-xs-12 col-md-4 col-lg-3">
                    <p class="ServiceItem-infoText text-bold"><strong>Qualitare</strong></p>
                    <ul class="ServiceItem-xs-info visible-xs-block list-unstyled">
                      <li class="ServiceItem-xs-infoItem">
                        <p class="ServiceItem-xs-infoTitle">Nº do pedido</p>
                        <p class="ServiceItem-xs-infoText">12334599</p>
                      </li>
                      <li class="ServiceItem-xs-infoItem">
                        <p class="ServiceItem-xs-infoTitle">Data do pedido</p>
                        <p class="ServiceItem-xs-infoText">12/10/16</p>
                      </li>
                      <li class="ServiceItem-xs-infoItem">
                        <p class="ServiceItem-xs-infoTitle">Status</p>
                        <p class="ServiceItem-xs-infoText">Pagamento aprovado</p>
                      </li>
                    </ul>
                  </div>
                  <div class="ServiceItem-headerInfoContainer hidden-xs col-md-2">
                    <p class="ServiceItem-infoText text-center">12334599</p>
                  </div>
                  <div class="ServiceItem-headerInfoContainer hidden-xs col-md-2">
                    <p class="ServiceItem-infoText text-center">12/10/16</p>
                  </div>
                  <div class="ServiceItem-headerInfoContainer hidden-xs col-md-2">
                    <p class="ServiceItem-infoText text-center">Pagamento aprovado</p>
                  </div>
                  <div class="ServiceItem-headerInfoContainer hidden-xs col-md-2 col-lg-3 text-center">
                    <button class="Button Button--small ServiceItem-toggleDetails u-buttonPadding">Ocultar detalhes</button>
                  </div>
                </div>
                <div class="ServiceItem-details row">
                  <ul class="ServiceItem-technicalDetails list-inline col-xs-12">
                    <li class="ServiceItem-technicalDetail">
                      <p class="ServiceItem-technicalName">Apresentação:</p>
                      <p class="ServiceItem-technicalValue">Mista</p>
                    </li>
                    <li class="ServiceItem-technicalDetail">
                      <p class="ServiceItem-technicalName">Natureza:</p>
                      <p class="ServiceItem-technicalValue">Marca de Produto</p>
                    </li>
                    <li class="ServiceItem-technicalDetail">
                      <p class="ServiceItem-technicalName">Elemento Nominativo:</p>
                      <p class="ServiceItem-technicalValue">#NomedaMarca</p>
                    </li>
                    <li class="ServiceItem-technicalDetail">
                      <p class="ServiceItem-technicalName">CFE:</p>
                      <p class="ServiceItem-technicalValue">27.5.1</p>
                    </li>
                    <li class="ServiceItem-technicalDetail">
                      <p class="ServiceItem-technicalName">MCL:</p>
                      <p class="ServiceItem-technicalValue">16</p>
                    </li>
                    <li class="ServiceItem-technicalDetail">
                      <p class="ServiceItem-technicalName">Especicacao:</p>
                      <p class="ServiceItem-technicalValue">Etiquetas para código de barras</p>
                    </li>
                  </ul>
                  <div class="ServiceItem-history col-xs-12">
                    <h2 class="Page-title Page-title--small">Histórico</h2>
                    <ul class="ServiceItem-historyItems list-unstyled">
                      <li class="ServiceItem-historyItem Color--10"><span class="ServiceItem-historyDate">10/12/16</span><span class="ServiceItem-historyText">Pedido de Registro Publicado</span></li>
                      <li class="ServiceItem-historyItem Color--21"><span class="ServiceItem-historyDate">10/10/16</span><span class="ServiceItem-historyText">Pedido de Registro Indeferido</span></li>
                      <li class="ServiceItem-historyItem Color--30"><span class="ServiceItem-historyDate">10/10/16</span><span class="ServiceItem-historyText">Pedido de Registro Deferido</span></li>
                    </ul>
                  </div>
                </div>
                <footer class="ServiceItem-footer row">
                  <div class="col-xs-12 col-md-10 col-lg-9"><span class="ServiceItem-footerActionName">Adicionar Serviço</span>
                    <label for="marca" class="ServiceItem-label u-mb35">
                      <input type="checkbox" name="marca" value="renovar" class="ServiceItem-checkbox"><span class="ServiceItem-labelText">Renovação da marca</span>
                    </label><span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark QuestionMark--dark Tooltip Tooltip--dark">?</span>
                  </div>
                  <div class="col-xs-12 col-md-2 col-lg-3 text-center">
                    <button class="Button Button--small u-buttonPadding">Adicionar serviço</button>
                  </div>
                  <div class="row visible-xs-block">
                    <div class="col-xs-12 text-center ServiceItem-toggleDetailsContainer">
                      <button class="Button Button--small ServiceItem-toggleDetails u-buttonPadding">Ocultar detalhes</button>
                    </div>
                  </div>
                </footer>
              </div>
              <div class="ServiceItem">
                <header class="ServiceItem-header row">
                  <div class="col-xs-12 col-md-4 col-lg-3">
                    <h3 class="ServiceItem-headerTitle">Pedido de registro de marca</h3>
                  </div>
                  <div class="hidden-xs col-md-2">
                    <h3 class="ServiceItem-headerTitle text-center">Nº do pedido</h3>
                  </div>
                  <div class="hidden-xs col-md-2">
                    <h3 class="ServiceItem-headerTitle text-center">Data do pedido</h3>
                  </div>
                  <div class="hidden-xs col-md-2">
                    <h3 class="ServiceItem-headerTitle text-center">Status</h3>
                  </div>
                </header>
                <div class="ServiceItem-headerInfo row">
                  <div class="ServiceItem-headerInfoContainer col-xs-12 col-md-4 col-lg-3">
                    <p class="ServiceItem-infoText text-bold"><strong>Qualitare</strong></p>
                    <ul class="ServiceItem-xs-info visible-xs-block list-unstyled">
                      <li class="ServiceItem-xs-infoItem">
                        <p class="ServiceItem-xs-infoTitle">Nº do pedido</p>
                        <p class="ServiceItem-xs-infoText">12334599</p>
                      </li>
                      <li class="ServiceItem-xs-infoItem">
                        <p class="ServiceItem-xs-infoTitle">Data do pedido</p>
                        <p class="ServiceItem-xs-infoText">12/10/16</p>
                      </li>
                      <li class="ServiceItem-xs-infoItem">
                        <p class="ServiceItem-xs-infoTitle">Status</p>
                        <p class="ServiceItem-xs-infoText">Pagamento aprovado</p>
                      </li>
                    </ul>
                  </div>
                  <div class="ServiceItem-headerInfoContainer hidden-xs col-md-2">
                    <p class="ServiceItem-infoText text-center">12334599</p>
                  </div>
                  <div class="ServiceItem-headerInfoContainer hidden-xs col-md-2">
                    <p class="ServiceItem-infoText text-center">12/10/16</p>
                  </div>
                  <div class="ServiceItem-headerInfoContainer hidden-xs col-md-2">
                    <p class="ServiceItem-infoText text-center">Pagamento aprovado</p>
                  </div>
                  <div class="ServiceItem-headerInfoContainer hidden-xs col-md-2 col-lg-3 text-center">
                    <button class="Button Button--small ServiceItem-toggleDetails u-buttonPadding">Ocultar detalhes</button>
                  </div>
                </div>
                <div class="ServiceItem-details row">
                  <ul class="ServiceItem-technicalDetails list-inline col-xs-12">
                    <li class="ServiceItem-technicalDetail">
                      <p class="ServiceItem-technicalName">Apresentação:</p>
                      <p class="ServiceItem-technicalValue">Mista</p>
                    </li>
                    <li class="ServiceItem-technicalDetail">
                      <p class="ServiceItem-technicalName">Natureza:</p>
                      <p class="ServiceItem-technicalValue">Marca de Produto</p>
                    </li>
                    <li class="ServiceItem-technicalDetail">
                      <p class="ServiceItem-technicalName">Elemento Nominativo:</p>
                      <p class="ServiceItem-technicalValue">#NomedaMarca</p>
                    </li>
                    <li class="ServiceItem-technicalDetail">
                      <p class="ServiceItem-technicalName">CFE:</p>
                      <p class="ServiceItem-technicalValue">27.5.1</p>
                    </li>
                    <li class="ServiceItem-technicalDetail">
                      <p class="ServiceItem-technicalName">MCL:</p>
                      <p class="ServiceItem-technicalValue">16</p>
                    </li>
                    <li class="ServiceItem-technicalDetail">
                      <p class="ServiceItem-technicalName">Especicacao:</p>
                      <p class="ServiceItem-technicalValue">Etiquetas para código de barras</p>
                    </li>
                  </ul>
                  <div class="ServiceItem-history col-xs-12">
                    <h2 class="Page-title Page-title--small">Histórico</h2>
                    <ul class="ServiceItem-historyItems list-unstyled">
                      <li class="ServiceItem-historyItem Color--10"><span class="ServiceItem-historyDate">10/12/16</span><span class="ServiceItem-historyText">Pedido de Registro Publicado</span></li>
                      <li class="ServiceItem-historyItem Color--21"><span class="ServiceItem-historyDate">10/10/16</span><span class="ServiceItem-historyText">Pedido de Registro Indeferido</span></li>
                      <li class="ServiceItem-historyItem Color--30"><span class="ServiceItem-historyDate">10/10/16</span><span class="ServiceItem-historyText">Pedido de Registro Deferido</span></li>
                    </ul>
                  </div>
                </div>
                <footer class="ServiceItem-footer row">
                  <div class="col-xs-12 col-md-10 col-lg-9"><span class="ServiceItem-footerActionName">Adicionar Serviço</span>
                    <label for="marca" class="ServiceItem-label">
                      <input type="checkbox" name="marca" value="renovar" class="ServiceItem-checkbox"><span class="ServiceItem-labelText">Renovação da marca</span>
                    </label><span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="QuestionMark QuestionMark--dark Tooltip Tooltip--dark">?</span>
                  </div>
                  <div class="col-xs-12 col-md-2 col-lg-3 text-center">
                    <button class="Button Button--small u-buttonPadding">Adicionar serviço</button>
                  </div>
                  <div class="row visible-xs-block">
                    <div class="col-xs-12 text-center ServiceItem-toggleDetails">
                      <button class="Button Button--small ServiceItem-toggleDetails u-buttonPadding">Ocultar detalhes</button>
                    </div>
                  </div>
                </footer>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
    <footer class="Footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center"><img src="dist/images/logo-footer.png" alt="mavip" class="Footer-logo"></div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <ul class="Footer-links list-unstyled list-inline">
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Termo de adesão</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Criar sua conta</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Empresa</a></li>
              <li class="Footer-linksItem"><a href="javascript:" class="Footer-link">Serviços</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="dist/scripts/vendors.min.js"></script>
    <script src="dist/scripts/scripts.js"></script>
  </body>
</html>

montagem/src/views/service_panel.jade
extends ./layouts/bootstrap.jade

block vars
  - var bodyClass = 'service_panel'

block header
  header.Header.Header--servicePanel
    .container
      .row
        .col-xs-12
          include ./inc/nav.jade

block content
  .container
    .row
      .col-xs-12.col-lg-10.col-lg-offset-1
        .Content.Content--order
          header.Content-header.Content-header--servicePanel.col-xs-12
            ul.Breadcrumbs.list-inline
              li.Breadcrumbs-item
                a.Breadcrumbs-link(href="javascript:") Home
              li.Breadcrumbs-item
                a.Breadcrumbs-link.active(href="javascript:") Minha conta
            .row
              .Content-headerContainer.col-xs-12.col-md-6
                h2.Content-headerTitle.u-noMarginTop Olá, #NomeDoUsuário
              .col-xs-12.col-md-6
                ul.Content-options.list-inline
                  li.Content-option
                    a.Content-optionLink(href="javascript:") Editar meus dados
                  li.Content-option
                    a.Content-optionLink(href="javascript:") Sair
          .row
            .col-xs-12
                h1.Page-title.col-xs-12 Serviços
          main.Content-main.col-xs-12
            .ServiceItem
              header.ServiceItem-header.row
                .col-xs-12.col-md-4.col-lg-3
                  h3.ServiceItem-headerTitle Pedido de registro de marca
                .hidden-xs.col-md-2
                  h3.ServiceItem-headerTitle.text-center Nº do pedido
                .hidden-xs.col-md-2
                  h3.ServiceItem-headerTitle.text-center Data do pedido
                .hidden-xs.col-md-2
                  h3.ServiceItem-headerTitle.text-center Status
              .ServiceItem-headerInfo.row
                .ServiceItem-headerInfoContainer.col-xs-12.col-md-4.col-lg-3
                  p.ServiceItem-infoText.text-bold
                    strong Qualitare
                  ul.ServiceItem-xs-info.visible-xs-block.list-unstyled
                    li.ServiceItem-xs-infoItem
                      p.ServiceItem-xs-infoTitle Nº do pedido
                      p.ServiceItem-xs-infoText 12334599
                    li.ServiceItem-xs-infoItem
                      p.ServiceItem-xs-infoTitle Data do pedido
                      p.ServiceItem-xs-infoText 12/10/16
                    li.ServiceItem-xs-infoItem
                      p.ServiceItem-xs-infoTitle Status
                      p.ServiceItem-xs-infoText Pagamento aprovado
                .ServiceItem-headerInfoContainer.hidden-xs.col-md-2
                  p.ServiceItem-infoText.text-center 12334599
                .ServiceItem-headerInfoContainer.hidden-xs.col-md-2
                  p.ServiceItem-infoText.text-center 12/10/16
                .ServiceItem-headerInfoContainer.hidden-xs.col-md-2
                  p.ServiceItem-infoText.text-center Pagamento aprovado
                .ServiceItem-headerInfoContainer.hidden-xs.col-md-2.col-lg-3.text-center
                  button.Button.Button--small.ServiceItem-toggleDetails.u-buttonPadding Ocultar detalhes
              .ServiceItem-details.row
                ul.ServiceItem-technicalDetails.list-inline.col-xs-12
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName Apresentação:
                    p.ServiceItem-technicalValue Mista
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName Natureza:
                    p.ServiceItem-technicalValue Marca de Produto
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName Elemento Nominativo:
                    p.ServiceItem-technicalValue #NomedaMarca
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName CFE:
                    p.ServiceItem-technicalValue 27.5.1
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName MCL:
                    p.ServiceItem-technicalValue 16
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName Especicacao:
                    p.ServiceItem-technicalValue Etiquetas para código de barras
                .ServiceItem-history.col-xs-12
                  h2.Page-title.Page-title--small Histórico

                  ul.ServiceItem-historyItems.list-unstyled
                    li.ServiceItem-historyItem.Color--10
                      span.ServiceItem-historyDate 10/12/16
                      span.ServiceItem-historyText Pedido de Registro Publicado
                    li.ServiceItem-historyItem.Color--21
                      span.ServiceItem-historyDate 10/10/16
                      span.ServiceItem-historyText Pedido de Registro Indeferido
                    li.ServiceItem-historyItem.Color--30
                      span.ServiceItem-historyDate 10/10/16
                      span.ServiceItem-historyText Pedido de Registro Deferido
              footer.ServiceItem-footer.row
                .col-xs-12.col-md-10.col-lg-9
                  span.ServiceItem-footerActionName Adicionar Serviço
                  label.ServiceItem-label.u-mb35(for="marca")
                    input.ServiceItem-checkbox(type="checkbox", name="marca", value="renovar")
                    span.ServiceItem-labelText Renovação da marca
                  span.QuestionMark.QuestionMark--dark.Tooltip.Tooltip--dark(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                .col-xs-12.col-md-2.col-lg-3.text-center
                  button.Button.Button--small.u-buttonPadding Adicionar serviço
                .row.visible-xs-block
                  .col-xs-12.text-center.ServiceItem-toggleDetailsContainer
                      button.Button.Button--small.ServiceItem-toggleDetails.u-buttonPadding Ocultar detalhes
            .ServiceItem
              header.ServiceItem-header.row
                .col-xs-12.col-md-4.col-lg-3
                  h3.ServiceItem-headerTitle Pedido de registro de marca
                .hidden-xs.col-md-2
                  h3.ServiceItem-headerTitle.text-center Nº do pedido
                .hidden-xs.col-md-2
                  h3.ServiceItem-headerTitle.text-center Data do pedido
                .hidden-xs.col-md-2
                  h3.ServiceItem-headerTitle.text-center Status
              .ServiceItem-headerInfo.row
                .ServiceItem-headerInfoContainer.col-xs-12.col-md-4.col-lg-3
                  p.ServiceItem-infoText.text-bold
                    strong Qualitare
                  ul.ServiceItem-xs-info.visible-xs-block.list-unstyled
                    li.ServiceItem-xs-infoItem
                      p.ServiceItem-xs-infoTitle Nº do pedido
                      p.ServiceItem-xs-infoText 12334599
                    li.ServiceItem-xs-infoItem
                      p.ServiceItem-xs-infoTitle Data do pedido
                      p.ServiceItem-xs-infoText 12/10/16
                    li.ServiceItem-xs-infoItem
                      p.ServiceItem-xs-infoTitle Status
                      p.ServiceItem-xs-infoText Pagamento aprovado
                .ServiceItem-headerInfoContainer.hidden-xs.col-md-2
                  p.ServiceItem-infoText.text-center 12334599
                .ServiceItem-headerInfoContainer.hidden-xs.col-md-2
                  p.ServiceItem-infoText.text-center 12/10/16
                .ServiceItem-headerInfoContainer.hidden-xs.col-md-2
                  p.ServiceItem-infoText.text-center Pagamento aprovado
                .ServiceItem-headerInfoContainer.hidden-xs.col-md-2.col-lg-3.text-center
                  button.Button.Button--small.ServiceItem-toggleDetails.u-buttonPadding Ocultar detalhes
              .ServiceItem-details.row
                ul.ServiceItem-technicalDetails.list-inline.col-xs-12
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName Apresentação:
                    p.ServiceItem-technicalValue Mista
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName Natureza:
                    p.ServiceItem-technicalValue Marca de Produto
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName Elemento Nominativo:
                    p.ServiceItem-technicalValue #NomedaMarca
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName CFE:
                    p.ServiceItem-technicalValue 27.5.1
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName MCL:
                    p.ServiceItem-technicalValue 16
                  li.ServiceItem-technicalDetail
                    p.ServiceItem-technicalName Especicacao:
                    p.ServiceItem-technicalValue Etiquetas para código de barras
                .ServiceItem-history.col-xs-12
                  h2.Page-title.Page-title--small Histórico

                  ul.ServiceItem-historyItems.list-unstyled
                    li.ServiceItem-historyItem.Color--10
                      span.ServiceItem-historyDate 10/12/16
                      span.ServiceItem-historyText Pedido de Registro Publicado
                    li.ServiceItem-historyItem.Color--21
                      span.ServiceItem-historyDate 10/10/16
                      span.ServiceItem-historyText Pedido de Registro Indeferido
                    li.ServiceItem-historyItem.Color--30
                      span.ServiceItem-historyDate 10/10/16
                      span.ServiceItem-historyText Pedido de Registro Deferido
              footer.ServiceItem-footer.row
                .col-xs-12.col-md-10.col-lg-9
                  span.ServiceItem-footerActionName Adicionar Serviço
                  label.ServiceItem-label(for="marca")
                    input.ServiceItem-checkbox(type="checkbox", name="marca", value="renovar")
                    span.ServiceItem-labelText Renovação da marca
                  span.QuestionMark.QuestionMark--dark.Tooltip.Tooltip--dark(title="Lorem ipsum dolor sit amet, consectetur adipisicing elit") ?
                .col-xs-12.col-md-2.col-lg-3.text-center
                  button.Button.Button--small.u-buttonPadding Adicionar serviço
                .row.visible-xs-block
                  .col-xs-12.text-center.ServiceItem-toggleDetails
                      button.Button.Button--small.ServiceItem-toggleDetails.u-buttonPadding Ocultar detalhes
